<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some spacing between the buttons */
        button {
            margin-right: 20px;
        }
    </style>
</head>

<body style="background-color:aquamarine;">
    <h1>Skhedule.com</h1>
    <p>Click here to create Events: 
        <button onclick="window.location.href = 'singular_event.erb'">
        Create a Singular Event
        </button>

        <button onclick="">
        Create a Series Event
        </button>
    </p>
</body>