<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some spacing between the buttons */
        button {
            margin-right: 20px;
            padding: 5px 10px; /* Adjust the padding to increase button size */
            font-size: 12px; /* Adjust the font size */
        }
        p {
            text-align: center; /* Center-align the content */
            margin-right: 20px;
            padding: 10px 15px; /* Adjust the padding to increase button size */
            font-size: 12px; /* Adjust the font size */
        }
        h3 {
            text-align: center;
            font-size: 15px;
        }        
        body {
        /* Background color */
        background-color: #e2c9be; /* You can use the gradient color here */
        /* Background image */
        background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%); /* Replace with your downloaded image file */
        background-size: cover; /* Cover the entire viewport */
        background-repeat: no-repeat; /* Do not repeat the image */
        }
    </style>
</head>

<body>
    <h1>Skhedule.com</h1>
    <h3>Click here to create Events: </h3>
    <p>
    <%= button_to "Create a singular event" %>
    <%= button_to "Create a series event" %>
    </p>
</body>