<head>
<title>Add People List</title>
</head>
<style>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

     body {
        /* Background color */
        background-color: #e2c9be; /* You can use the gradient color here */
        /* Background image */
        background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%); /* Replace with your downloaded image file */
        background-size: cover; /* Cover the entire viewport */
        background-repeat: no-repeat; /* Do not repeat the image */
        }
</style>

<script>
    // Function to add a new input field
    function add_field(fieldType) {
        const container = document.getElementById(`${fieldType}-container`);
        const newField = document.createElement("div");
        newField.innerHTML = `
            <%= text_field_tag 'email' %>
            <button type="button" onclick="remove_field(this)">Delete</button>
        `;
        container.appendChild(newField);
    }

    // Function to remove the clicked input field
    function remove_field(button) {
        const container = button.parentNode.parentNode;
        container.removeChild(button.parentNode);
    }
</script>


<body>
<%= form_tag('/submit_form', method: 'post') do %>
  <label for="email">Email:</label>

  <div id="Event-venue-container">
  <%= text_field_tag 'email' %>
  <button type="button" onclick="add_field('Event-venue')">Add</button>
  </div>

<%= submit_tag 'Submit' %>
<% end %>

</body>

