<head>
<title>Add People List</title>
</head>
<style>
     body {
        /* Background color */
        background-color: #e2c9be; /* You can use the gradient color here */
        /* Background image */
        background-image: linear-gradient(315deg, #e2c9be 0%, #fbf7e9 74%); /* Replace with your downloaded image file */
        background-size: cover; /* Cover the entire viewport */
        background-repeat: no-repeat; /* Do not repeat the image */
        }
</style>




<body>
<%= form_tag('/submit_form', method: 'post') do %>
  <label for="email">Email:</label>

  <div id="Event-venue-container">
  <%= text_field_tag 'email' %>
  <button type="button" onclick="add_field('Event-venue')">Add</button>
  </div>

<%= submit_tag 'Submit' %>
<% end %>

</body>

