<!DOCTYPE html>
<html>
   <head>
      <!-- Bootstrap CSS -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <style>
         body {
         background-color: #e2c9be;
         background-image: 000;
         background-size: cover;
         background-repeat: no-repeat;
         height: 100vh;
         display: flex;
         align-items: center;
         justify-content: center;
         font-family: 'Arial', sans-serif;
         }
         .event-content {
         padding: 30px 20px;
         }
         .button-wrapper {
         text-align: center;
         margin-top: 30px; 
         }
         .gradient-btn {
         background: #555
         border: none;
         color: white;
         padding: 12px 30px;
         border-radius: 30px;
         box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
         }
         .event-header {
         padding: 30px 20px;
         background-color: #4CAF50;
         color: white;
         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
         font-size: 2em;
         font-weight: bold;
         letter-spacing: 2px;
         }
         .event-content {
         padding: 30px 20px;
         }
         .highlight-text {
         color: rgb(8, 92, 120);
         padding: 5px 10px;
         border-radius: 10px;
         font-size: 1.5em;
         font-weight: bold;
         }

      </style>
   <body>
      <div class="event-content">
         <%= render "form", event: @event, event_info: @event_info %>
         <div class="button-wrapper">
            <%= link_to "Back to Home", home_path, class: "gradient-btn" %>
         </div>
      </div>
   </body>