<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats</h1>
    <p>
      You have been invited to [EventName]
    </p>
    <p>
      To see a full list of invites or make your own just follow this link: <%= @url %>.
    </p>
  </body>
</html>